@media (max-width: 1214px){
    .footer{
        background-color: aquamarine;
    }

    .botones{
        display: flex;
        flex-direction: column;
    }

    .boton {
        text-align: center;
    }

    .tarjetas{
        display: flex;
        flex-direction: column;
    }

    .borde{
        padding: 3px 10px;
        border: #000 5px solid;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
    }

    
}